@media @mobile {
  .black-and-veatch {
    background: #48c6ef; /* Old browsers */
    background: -moz-linear-gradient(top, #48c6ef 0%, #000000 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #48c6ef 0%, #000000 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #48c6ef 0%, #000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#48c6ef', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
    h1 {
      display: none;
    }
    color: white;
    .box-1 {
      width: 45%;
      float: left;
      padding: 1em 0;
      .logo {
        background: url("/assets/images/black-and-veatch/logo--default.svg");
      }
    }
    .box-2 {
      width: 45%;
      float: right;
      padding: 1em 0;
    }
  }
}
