// min-width: 320px) smartphones, portrait iPhone, portrait 480x320 phones (Android)
@media @mobile {
  .boston-market {
    background: url("/assets/images/boston-market/bg--tile.jpg");
    color: #fff;
    h1 {
      display: none;
    }
    .my-title {
      color: #d02027;
    }
    a {
      color: #d02027;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
    color: black;
    .box-1 {
      .logo {
        img {
          max-width: 50%;
        }
      }
    }
    .box-2 {
      .wrapper {
        //.content {
        background: url("/assets/images/boston-market/hero--medium.jpg");
        background-size: contain;
        background-repeat: no-repeat;
        //}
      }
    }
  }
}
// min-width:480px) smartphones, Android phones, landscape iPhone
@media @mobile-landscape {
  .boston-market {
    // temporary
    .box-2 {
      .wrapper {
        background: url("/assets/images/boston-market/hero--x-large.png");
        background-size: cover;
        background-repeat: no-repeat;
      }
    }
  }
}
// min-width: 600px tablet portrait
@media @tablet {
}
// min-width: 801px) tablet, landscape iPad, lo-res laptops ands desktops
@media @tablet-landscape {
}
// min-width: 1025px) big landscape tablets, laptops, and desktops
@media @laptop {
}
// min-width: 1200px) big landscape tablets, laptops, and desktops
@media @desktop {
}
// min-width: 2300px) TV
@media @desktop-lg {
  .boston-market {
    .box-2 {
      .wrapper {
        background: url("/assets/images/boston-market/hero--x-large.png");
        background-size: cover;
        background-repeat: no-repeat;
      }
    }
  }
}
