@media @mobile {
  .boston-market {
    background: url("../../assets/images/boston-market/bg--tile.jpg");
    color: #fff;
    h1 {
      display: none;
    }
    .dally-dally {
      box-shadow: 0px 0px 30px 1px rgba(0, 0, 0, 0.5);
    }
    .dally {
      background-color: #000 !important;
      opacity: 0.8;
    }
  }
}
