@media @mobile {
  .edc {
    background: url("/assets/images/edc/bg--tile.png");
    color: #000;
    /*
<picture>
          <source sizes="540px" srcSet="../assets/images/edc/hero--large.jpg 540w" media="(min-width: 1200px)" />
          <source sizes="470px" srcSet="../assets/images/edc/hero--medium.jpg 470w" media="(min-width: 1024px)" />
          <source sizes="360px" srcSet="../assets/images/edc/hero--small.jpg 360w" media="(min-width: 800px)" />
          <img srcSet="../assets/images/edc/hero--default.jpg 320w" alt="" />
        </picture>
*/
    .box-1 {
    }
    .box-2 {
      //background-image: url("/assets/images/edc/hero--default.jpg");
      background-size: cover;
    }
  }
}
@media @mobile-landscape {
  .edc {
    background: #454545 url("/assets/images/edc/bg--small.jpg") center top no-repeat;
    .box-1 {
      width: 45%;
    }
    .box-2 {
      width: 45%;
      float: right;
      //background-image: url("/assets/images/edc/hero--small.jpg");
    }
  }
}
@media @tablet {
}
@media @tablet-landscape {
  .edc {
    background: #454545 url("/assets/images/edc/bg--medium.jpg") center top no-repeat;
    .box-2 {
      //background-image: url("/assets/images/edc/hero--medium.jpg");
    }
  }
}
@media @laptop {
}
@media @desktop {
  .edc {
    background: #454545 url("/assets/images/edc/bg--large.jpg") center top no-repeat;
    .box-2 {
      //background-image: url("/assets/images/edc/hero--large.jpg");
    }
  }
}
@media @desktop-lg {
}
