@media @mobile {
  .episcopal-church {
    background: url("/assets/images/episcopal-church/bg--default.jpg") center top no-repeat;
    color: #fff;
    /* {
    &.lazyloaded {
      background: url("/assets/images/episcopal-church/bg--small.jpg") center bottom no-repeat;
    }
  }
  @mixin atMedium {
    &.lazyloaded {
      background: url("/assets/images/episcopal-church/bg--medium.jpg") center bottom no-repeat;
    }
  }
  @mixin atLarge {
    &.lazyloaded {
      background: url("/assets/images/episcopal-church/bg--large.jpg") center bottom no-repeat;
    }
  }
    }
  */
    .box-1 {
    }
    .box-2 {
      //background-image: url("/assets/images/episcopal-church/hero--default.jpg");
      background-size: cover;
    }
  }
}
@media @mobile-landscape {
  .episcopal-church {
    background: #454545 url("/assets/images/episcopal-church/bg--small.jpg") center top no-repeat;
    .box-1 {
      width: 45%;
    }
    .box-2 {
      width: 45%;
      float: right;
      //background-image: url("/assets/images/episcopal-church/hero--small.jpg");
    }
  }
}
@media @tablet {
}
@media @tablet-landscape {
  .episcopal-church {
    background: #454545 url("/assets/images/episcopal-church/bg--medium.jpg") center top no-repeat;
    .box-2 {
      //background-image: url("/assets/images/episcopal-church/hero--medium.jpg");
    }
  }
}
@media @laptop {
}
@media @desktop {
  .episcopal-church {
    background: #454545 url("/assets/images/episcopal-church/bg--large.jpg") center top no-repeat;
    .box-2 {
      //background-image: url("/assets/images/episcopal-church/hero--large.jpg");
    }
  }
}
@media @desktop-lg {
}

/*
<picture>
          <source sizes="540px" srcSet="../assets/images/episcopal-church/hero--large.jpg 540w" media="(min-width: 1200px)" />
          <source sizes="470px" srcSet="../assets/images/episcopal-church/hero--medium.jpg 470w" media="(min-width: 1024px)" />
          <source sizes="360px" srcSet="../assets/images/episcopal-church/heroh--small.jpg 360w" media="(min-width: 800px)" />
          <img srcSet="../assets/images/episcopal-church/hero--default.jpg 320w" alt="" />
        </picture>
*/
