/* quick grid */

.container {
    width: 93%;
    margin: auto;
}


/* Bootstrap-style columns */

.column {
    position: relative;
    float: left;
    min-height: 1px;
    width: 25%;
    /* padding-left: 4px; */
    /* padding-right: 4px; */
    /* Space between tiles */
    margin-top: 8px;
}

.col-span {
    width: 50%;
}


/* default styles so shuffle doesn't have to set them (it will if they're missing) */

.my-shuffle {
    position: relative;
    overflow: hidden;
}


/* Ensure images take up the same space when they load */


/* https://vestride.github.io/Shuffle/images */

.aspect {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    overflow: hidden;
}

.aspect__inner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.aspect--16x9 {
    padding-bottom: 56.25%;
}

.aspect--9x80 {
    padding-bottom: calc(112.5% + 8px);
}

.aspect--32x9 {
    padding-bottom: calc(28.125% - 3px);
}

img {
    display: block;
    width: 100%;
    max-width: none;
    height: 100%;
    object-fit: cover;
}


/* Small reset */

*,
::before,
::after {
    box-sizing: border-box;
}

figure {
    margin: 0;
    padding: 0;
}

div.home {
    background-color: #343433;
    width: 100%;
    height: 100%;
    /*
  /* {
    display: none
  }
  */
    ul {
        width: 100%;
        height: 100%;
        list-style: none;
        margin: 0;
        padding: 0
    }
    li {
        float: left;
        width: 20%;
        height: 20%;
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: center;
        position: relative;
        overflow: hidden
    }
    li a {
        width: 100%;
        height: 100%;
        display: block
    }
    li div {
        opacity: 0.0;
        transition: opacity 1s ease-in-out;
        -moz-transition: opacity 1s ease-in-out;
        -webkit-transition: opacity 1s ease-in-out;
        background-color: #fff;
        color: #000;
        padding: 15px 5px;
        text-align: center;
        position: absolute;
        bottom: 0px;
        width: 100%
    }
    li:hover div {
        opacity: 1.0;
        transition: opacity .55s ease-in-out;
        -moz-transition: opacity .55s ease-in-out;
        -webkit-transition: opacity .55s ease-in-out
    }
    ​
    /**
 * THEME
 *
 * A description of the section and how to use it.
 *
 * @page
 */
    /**
 * THEME DESCRIPTION
 *
 * @page My Section
 */
    /**
 * Section belonging to a page.
 *
 * @page THEME
 * @page Home
 */
    /**
 * A simple example.
 *
 * @My Section Example
 * @example
 *  <figure class="js-item column black-and-veatch">
 *    <a href="#2" class="black-and-veatch">
 *      <div class="aspect aspect--16x9">
 *        <div class="aspect__inner"><img src="../../assets/images/black-and-veatch/tile--large.jpg" obj.alt="obj.alt" /></div>
 *      </div>
 *    </a>
 *  </figure>
 *
 * @code
 *  <figure class="js-item column black-and-veatch">
 *    <a href="#2" class="black-and-veatch">
 *      <div class="aspect aspect--16x9">
 *        <div class="aspect__inner"><img src="../../assets/images/black-and-veatch/tile--large.jpg" obj.alt="obj.alt" /></div>
 *      </div>
 *    </a>
 *  </figure>
 */
    /**
 * Using the @ symbol in code
 *
 * @code
 *  div.home li.black-and-veatch {
 *    overflow: hidden;
 *    img {
 *      position: relative;
 *      top: -30px;
 *      transition: all 3s ease;
 *      -moz-transition: all 3s ease;
 *      -ms-transition: all 3s ease;
 *      -webkit-transition: all 3s ease;
 *      -o-transition: all 3s ease;
 *   }
 *    img:hover {
 *      transform: scale(1.1);
 *      -moz-transform: scale(1.1);
 *      -webkit-transform: scale(1.1);
 *      -o-transform: scale(1.1);
 *      -ms-transform: scale(1.1); 
 *      -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1.1, M12=0, M21=0, M22=1.1, SizingMethod='auto expand')"; 
 *      filter: progid:DXImageTransform.Microsoft.Matrix(M11=1.1, M12=0, M21=0, M22=1.1, SizingMethod='auto expand');  
 *    }
 *  }
 *  div.home li.black-and-veatch a {
 *    overflow: hidden;
 *    background: rgba(237,237,237,1);
 *    background: -moz-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 53%, rgba(255,255,255,1) 100%);
 *    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(237,237,237,1)), color-stop(53%, rgba(246,246,246,1)), color-stop(100%, rgba(255,255,255,1)));
 *    background: -webkit-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 53%, rgba(255,255,255,1) 100%);
 *    background: -o-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 53%, rgba(255,255,255,1) 100%);
 *    background: -ms-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 53%, rgba(255,255,255,1) 100%);
 *    background: linear-gradient(to bottom, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 53%, rgba(255,255,255,1) 100%);
 *    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ffffff', GradientType=0 );
 *  }
 */
    /**
 * Section belonging to a page.
 *
 * @page THEME
 * @page Home
 */
    /**
 * A simple example.
 *
 * @My Section Example
 * @example
 *  <figure class="js-item column black-and-veatch">
 *    <a href="#2" class="black-and-veatch">
 *      <div class="aspect aspect--16x9">
 *        <div class="aspect__inner"><img src="../../assets/images/black-and-veatch/tile--large.jpg" obj.alt="obj.alt" /></div>
 *      </div>
 *    </a>
 *  </figure>
 *
 * @code
 *  <figure class="js-item column black-and-veatch">
 *    <a href="#2" class="black-and-veatch">
 *      <div class="aspect aspect--16x9">
 *        <div class="aspect__inner"><img src="../../assets/images/black-and-veatch/tile--large.jpg" obj.alt="obj.alt" /></div>
 *      </div>
 *    </a>
 *  </figure>
 */
    /**
 * Section belonging to a page.
 *
 * @page THEME
 * @page Home
 */
    /**
 * Using the @ symbol in code
 *
 * @code
 *  div.home li.black-and-veatch {
 *    overflow: hidden;
 *    img {
 *      position: relative;
 *      top: -30px;
 *      transition: all 3s ease;
 *      -moz-transition: all 3s ease;
 *      -ms-transition: all 3s ease;
 *      -webkit-transition: all 3s ease;
 *      -o-transition: all 3s ease;
 *   }
 *    img:hover {
 *      transform: scale(1.1);
 *      -moz-transform: scale(1.1);
 *      -webkit-transform: scale(1.1);
 *      -o-transform: scale(1.1);
 *      -ms-transform: scale(1.1); 
 *      -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1.1, M12=0, M21=0, M22=1.1, SizingMethod='auto expand')"; 
 *      filter: progid:DXImageTransform.Microsoft.Matrix(M11=1.1, M12=0, M21=0, M22=1.1, SizingMethod='auto expand');  
 *    }
 *  }
 *  div.home li.black-and-veatch a {
 *    overflow: hidden;
 *    background: rgba(237,237,237,1);
 *    background: -moz-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 53%, rgba(255,255,255,1) 100%);
 *    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(237,237,237,1)), color-stop(53%, rgba(246,246,246,1)), color-stop(100%, rgba(255,255,255,1)));
 *    background: -webkit-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 53%, rgba(255,255,255,1) 100%);
 *    background: -o-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 53%, rgba(255,255,255,1) 100%);
 *    background: -ms-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 53%, rgba(255,255,255,1) 100%);
 *    background: linear-gradient(to bottom, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 53%, rgba(255,255,255,1) 100%);
 *    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ffffff', GradientType=0 );
 *  }
 */
    /**
 * Section belonging to a page.
 *
 * @page THEME
 * @page Home
 */
    /**
 * A simple example.
 *
 * @My Section Example
 * @example
 *  <figure class="js-item column black-and-veatch">
 *    <a href="#2" class="black-and-veatch">
 *      <div class="aspect aspect--16x9">
 *        <div class="aspect__inner"><img src="../../assets/images/black-and-veatch/tile--large.jpg" obj.alt="obj.alt" /></div>
 *      </div>
 *    </a>
 *  </figure>
 *
 * @code
 *  <figure class="js-item column black-and-veatch">
 *    <a href="#2" class="black-and-veatch">
 *      <div class="aspect aspect--16x9">
 *        <div class="aspect__inner"><img src="../../assets/images/black-and-veatch/tile--large.jpg" obj.alt="obj.alt" /></div>
 *      </div>
 *    </a>
 *  </figure>
 */
    /**
 * Using the @ symbol in code
 *
 * @code
 *  div.home li.black-and-veatch {
 *    overflow: hidden;
 *    img {
 *      position: relative;
 *      top: -30px;
 *      transition: all 3s ease;
 *      -moz-transition: all 3s ease;
 *      -ms-transition: all 3s ease;
 *      -webkit-transition: all 3s ease;
 *      -o-transition: all 3s ease;
 *   }
 *    img:hover {
 *      transform: scale(1.1);
 *      -moz-transform: scale(1.1);
 *      -webkit-transform: scale(1.1);
 *      -o-transform: scale(1.1);
 *      -ms-transform: scale(1.1); 
 *      -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1.1, M12=0, M21=0, M22=1.1, SizingMethod='auto expand')"; 
 *      filter: progid:DXImageTransform.Microsoft.Matrix(M11=1.1, M12=0, M21=0, M22=1.1, SizingMethod='auto expand');  
 *    }
 *  }
 *  div.home li.black-and-veatch a {
 *    overflow: hidden;
 *    background: rgba(237,237,237,1);
 *    background: -moz-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 53%, rgba(255,255,255,1) 100%);
 *    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(237,237,237,1)), color-stop(53%, rgba(246,246,246,1)), color-stop(100%, rgba(255,255,255,1)));
 *    background: -webkit-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 53%, rgba(255,255,255,1) 100%);
 *    background: -o-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 53%, rgba(255,255,255,1) 100%);
 *    background: -ms-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 53%, rgba(255,255,255,1) 100%);
 *    background: linear-gradient(to bottom, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 53%, rgba(255,255,255,1) 100%);
 *    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ffffff', GradientType=0 );
 *  }
 */
    /**
 * Section belonging to a page.
 *
 * @page Section Name
 * @page Home
 */
    /**
 * A simple example.
 *
 * @My Section Example
 * @example
 *  <figure class="js-item column black-and-veatch">
 *    <a href="#2" class="black-and-veatch">
 *      <div class="aspect aspect--16x9">
 *        <div class="aspect__inner"><img src="../../assets/images/black-and-veatch/tile--large.jpg" obj.alt="obj.alt" /></div>
 *      </div>
 *    </a>
 *  </figure>
 *
 * @code
 *  <figure class="js-item column black-and-veatch">
 *    <a href="#2" class="black-and-veatch">
 *      <div class="aspect aspect--16x9">
 *        <div class="aspect__inner"><img src="../../assets/images/black-and-veatch/tile--large.jpg" obj.alt="obj.alt" /></div>
 *      </div>
 *    </a>
 *  </figure>
 */
    /**
 * Using the @ symbol in code
 *
 * @code
 *  div.home li.black-and-veatch {
 *    overflow: hidden;
 *    img {
 *      position: relative;
 *      top: -30px;
 *      transition: all 3s ease;
 *      -moz-transition: all 3s ease;
 *      -ms-transition: all 3s ease;
 *      -webkit-transition: all 3s ease;
 *      -o-transition: all 3s ease;
 *   }
 *    img:hover {
 *      transform: scale(1.1);
 *      -moz-transform: scale(1.1);
 *      -webkit-transform: scale(1.1);
 *      -o-transform: scale(1.1);
 *      -ms-transform: scale(1.1); 
 *      -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1.1, M12=0, M21=0, M22=1.1, SizingMethod='auto expand')"; 
 *      filter: progid:DXImageTransform.Microsoft.Matrix(M11=1.1, M12=0, M21=0, M22=1.1, SizingMethod='auto expand');  
 *    }
 *  }
 *  div.home li.black-and-veatch a {
 *    overflow: hidden;
 *    background: rgba(237,237,237,1);
 *    background: -moz-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 53%, rgba(255,255,255,1) 100%);
 *    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(237,237,237,1)), color-stop(53%, rgba(246,246,246,1)), color-stop(100%, rgba(255,255,255,1)));
 *    background: -webkit-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 53%, rgba(255,255,255,1) 100%);
 *    background: -o-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 53%, rgba(255,255,255,1) 100%);
 *    background: -ms-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 53%, rgba(255,255,255,1) 100%);
 *    background: linear-gradient(to bottom, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 53%, rgba(255,255,255,1) 100%);
 *    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ffffff', GradientType=0 );
 *  }
 */
    /**
 * Section belonging to a page.
 *
 * @page Section Name
 * @page Home
 */
    /**
 * A simple example.
 *
 * @My Section Example
 * @example
 *  <figure class="js-item column black-and-veatch">
 *    <a href="#2" class="black-and-veatch">
 *      <div class="aspect aspect--16x9">
 *        <div class="aspect__inner"><img src="../../assets/images/black-and-veatch/tile--large.jpg" obj.alt="obj.alt" /></div>
 *      </div>
 *    </a>
 *  </figure>
 *
 * @code
 *  <figure class="js-item column black-and-veatch">
 *    <a href="#2" class="black-and-veatch">
 *      <div class="aspect aspect--16x9">
 *        <div class="aspect__inner"><img src="../../assets/images/black-and-veatch/tile--large.jpg" obj.alt="obj.alt" /></div>
 *      </div>
 *    </a>
 *  </figure>
 */
    /**
 * Using the @ symbol in code
 *
 * @code
 *  div.home li.black-and-veatch {
 *    overflow: hidden;
 *    img {
 *      position: relative;
 *      top: -30px;
 *      transition: all 3s ease;
 *      -moz-transition: all 3s ease;
 *      -ms-transition: all 3s ease;
 *      -webkit-transition: all 3s ease;
 *      -o-transition: all 3s ease;
 *   }
 *    img:hover {
 *      transform: scale(1.1);
 *      -moz-transform: scale(1.1);
 *      -webkit-transform: scale(1.1);
 *      -o-transform: scale(1.1);
 *      -ms-transform: scale(1.1); 
 *      -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1.1, M12=0, M21=0, M22=1.1, SizingMethod='auto expand')"; 
 *      filter: progid:DXImageTransform.Microsoft.Matrix(M11=1.1, M12=0, M21=0, M22=1.1, SizingMethod='auto expand');  
 *    }
 *  }
 *  div.home li.black-and-veatch a {
 *    overflow: hidden;
 *    background: rgba(237,237,237,1);
 *    background: -moz-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 53%, rgba(255,255,255,1) 100%);
 *    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(237,237,237,1)), color-stop(53%, rgba(246,246,246,1)), color-stop(100%, rgba(255,255,255,1)));
 *    background: -webkit-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 53%, rgba(255,255,255,1) 100%);
 *    background: -o-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 53%, rgba(255,255,255,1) 100%);
 *    background: -ms-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 53%, rgba(255,255,255,1) 100%);
 *    background: linear-gradient(to bottom, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 53%, rgba(255,255,255,1) 100%);
 *    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ffffff', GradientType=0 );
 *  }
 */
    /**
 * Section belonging to a page.
 *
 * @page Section Name
 * @page Home
 */
    /**
 * A simple example.
 *
 * @My Section Example
 * @example
 *  <figure class="js-item column black-and-veatch">
 *    <a href="#2" class="black-and-veatch">
 *      <div class="aspect aspect--16x9">
 *        <div class="aspect__inner"><img src="../../assets/images/black-and-veatch/tile--large.jpg" obj.alt="obj.alt" /></div>
 *      </div>
 *    </a>
 *  </figure>
 *
 * @code
 *  <figure class="js-item column black-and-veatch">
 *    <a href="#2" class="black-and-veatch">
 *      <div class="aspect aspect--16x9">
 *        <div class="aspect__inner"><img src="../../assets/images/black-and-veatch/tile--large.jpg" obj.alt="obj.alt" /></div>
 *      </div>
 *    </a>
 *  </figure>
 */
    /**
 * Using the @ symbol in code
 *
 * @code
 *  div.home li.black-and-veatch {
 *    overflow: hidden;
 *    img {
 *      position: relative;
 *      top: -30px;
 *      transition: all 3s ease;
 *      -moz-transition: all 3s ease;
 *      -ms-transition: all 3s ease;
 *      -webkit-transition: all 3s ease;
 *      -o-transition: all 3s ease;
 *   }
 *    img:hover {
 *      transform: scale(1.1);
 *      -moz-transform: scale(1.1);
 *      -webkit-transform: scale(1.1);
 *      -o-transform: scale(1.1);
 *      -ms-transform: scale(1.1); 
 *      -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1.1, M12=0, M21=0, M22=1.1, SizingMethod='auto expand')"; 
 *      filter: progid:DXImageTransform.Microsoft.Matrix(M11=1.1, M12=0, M21=0, M22=1.1, SizingMethod='auto expand');  
 *    }
 *  }
 *  div.home li.black-and-veatch a {
 *    overflow: hidden;
 *    background: rgba(237,237,237,1);
 *    background: -moz-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 53%, rgba(255,255,255,1) 100%);
 *    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(237,237,237,1)), color-stop(53%, rgba(246,246,246,1)), color-stop(100%, rgba(255,255,255,1)));
 *    background: -webkit-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 53%, rgba(255,255,255,1) 100%);
 *    background: -o-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 53%, rgba(255,255,255,1) 100%);
 *    background: -ms-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 53%, rgba(255,255,255,1) 100%);
 *    background: linear-gradient(to bottom, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 53%, rgba(255,255,255,1) 100%);
 *    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ffffff', GradientType=0 );
 *  }
 */
    /**
 * A short description or lengthy explanation about the style. Will be parsed
 * using `markdown`.
 *
 * Descriptions can be multiple lines and end at the first encountered tag.
 * Tags can be in any order and can be multiple lines long as well.
 *
 * @page Section Name
 * @example
 * <div class="my-awesome-class">Example</div>
 */
    li.black-and-veatch {
        background: url("../../assets/images/black-and-veatch/tile--large.jpg") center top no-repeat;
    }
    li.disney {
        background: url("../../assets/images/disney/tile--large.jpg") left top no-repeat
    }
    li.edc {
        background: #eee url("../../assets/images/edc/tile--large.jpg") center top no-repeat
    }
    li.episcopal-church {
        background: #eee url("../../assets/images/episcopal-church/tile--large.jpg") center bottom no-repeat;
        opacity: 0.80;
    }
    li.episcopal-church:hover {
        opacity: 1
    }
    li.fastsigns {
        background: #bd0100 url("../../assets/images/fastsigns/tile--large.jpg") center top no-repeat
    }
    li.mastercard {
        background: #eee url("../../assets/images/mastercard/tile--large.jpg") right bottom no-repeat
    }
    li.molson-coors {
        background: #eee url("../../assets/images/molson-coors/tile--large.jpg") center top no-repeat
    }
    li.newmont-mining {
        background: #e3d9b6 url("../../assets/images/newmont-mining/tile--large.jpg")
    }
    li.novartis {
        background: #eee url("../../assets/images/novartis/tile--large.jpg") center top no-repeat
    }
    li.orlando-magic {
        background: #eee url("../../assets/images/orlando-magic/tile--large.jpg") center bottom no-repeat
    }
    li.red-robin {
        background: #eee url("../../assets/images/red-robin/tile--large.jpg") center bottom no-repeat
    }
    li.rock-bottom {
        background: #eee url("../../assets/images/rock-bottom/tile--large.gif") center bottom no-repeat
    }
    li.severn-trent-services {
        background: #eee url("../../assets/images/severn-trent-services/tile--large.jpg") center top no-repeat
    }
    li.templates {
        background: #eee url("../../assets/images/templates/tile--large.jpg") center top no-repeat
    }
    li.trip {
        background: #eee url("../../assets/images/trip/tile--large.jpg") right top no-repeat
    }
    li.visa {
        background: #eee url("../../assets/images/visa/tile--large.jpg") center top no-repeat
    }
    li.vpi-pet-insurance {
        background: #eee url("../../assets/images/vpi/tile--large.jpg") center bottom no-repeat
    }
    li.wyoming-workforce-services {
        background: #eee url("../../assets/images/wyoming-workforce-services/tile--large.jpg") center bottom no-repeat
    }
}