@media @mobile {
  .honeywell {
    color: #fff;
    h1 {
      display: none;
    }
  }
  /*
        figure {
            &.honeywell {
                background: #fff url("../../assets/images/honeywell/tile--large.jpg") center top no-repeat;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
                overflow: hidden;
                img {
                    transition: all 3s ease;
                    -moz-transition: all 3s ease;
                    -ms-transition: all 3s ease;
                    -webkit-transition: all 3s ease;
                    -o-transition: all 3s ease;
                    &:hover {
                        transform: scale(1.2);
                        -moz-transform: scale(1.2);
                        -webkit-transform: scale(1.2);
                        -o-transform: scale(1.2);
                        -ms-transform: scale(1.2);
                    }
                }
            }
        }
        */
}

/*
  {
  background: #000 url("../../assets/images/honeywell/bg--small.jpg") center bottom no-repeat;
  }
  @mixin atMedium {
  background: #000 url("../../assets/images/honeywell/bg--medium.jpg") center bottom no-repeat;
  }
  @mixin atLarge {
  background: #000 url("../../assets/images/honeywell/bg--large.jpg") center bottom no-repeat;
  }
  */
