@media @mobile {
  .imf {
    h1 {
      display: none;
    }
    background: url("/assets/images/imf/bg--default.jpg") center top no-repeat;
    color: #000;
    .logo {
      picture {
        img {
          width: 50%;
        }
      }
    }
  }
}
@media @mobile-landscape {
  .imf {
  }
}
@media @tablet {
}
@media @tablet-landscape {
  .imf {
  }
}
@media @laptop {
}
@media @desktop {
  .imf {
  }
}
@media @desktop-lg {
}
