// min-width: 320px) smartphones, portrait iPhone, portrait 480x320 phones (Android)
@media @mobile {
  .mastercard {
    background-color: #333;
    h1 {
      display: none;
    }
    color: #fff;
    .logo {
      background-image: url("/assets/images/mastercard/logo.svg");
      background-size: cover;
      width: 300px;
      height: 200px; // really height: 200px;
      //background-position-y: -50px;
    }
  }
}
// min-width:480px) smartphones, Android phones, landscape iPhone
@media @mobile-landscape {
  .mastercard {
  }
}
// min-width: 600px tablet portrait
@media @tablet {
}
// min-width: 801px) tablet, landscape iPad, lo-res laptops ands desktops
@media @tablet-landscape {
  .mastercard {
  }
}
// min-width: 1025px) big landscape tablets, laptops, and desktops
@media @laptop {
}
// min-width: 1200px) big landscape tablets, laptops, and desktops
@media @desktop {
  .mastercard {
  }
}
// min-width: 2300px) TV
@media @desktop-lg {
}
