@media @mobile {
  .mastercard {
    h1 {
      display: none;
    }
    color: #fff;
    .logo {
      picture {
        img {
          width: 50%;
        }
      }
    }
  }
}
@media @mobile-landscape {
  .mastercard {
  }
}
@media @tablet {
}
@media @tablet-landscape {
  .mastercard {
  }
}
@media @laptop {
}
@media @desktop {
  .mastercard {
  }
}
@media @desktop-lg {
}
