@media @mobile {
  .molson-coors {
    /* 
  background: url("../../assets/images/molson-coors/bg--default.jpg") center top no-repeat;
  @mixin atSmall {
    background: url("../../assets/images/molson-coors/bg--small.jpg") center bottom no-repeat;
  }
  @mixin atMedium {
    background: url("../../assets/images/molson-coors/bg--medium.jpg") center bottom no-repeat;
  }
  @mixin atLarge {
    background: url("../../assets/images/molson-coors/bg--large.jpg") center bottom no-repeat;
  }
  */
    .dally-dally {
      box-shadow: 0px 0px 30px 1px rgba(0, 0, 0, 0.5);
    }
  }
}
