@media @mobile {
  .newmont-mining {
    color: darkblue;
    .subtitle {
      display: none;
    }
    /*
  background: url("../../assets/images/newmont-mining/bg--default.jpg") center top;
  @mixin atSmall {
    background: url("../../assets/images/newmont-mining/bg--small.jpg") center bottom;
  }
  @mixin atMedium {
    background: url("../../assets/images/newmont-mining/bg--medium.jpg") center bottom;
  }
  @mixin atLarge {
    background: url("../../assets/images/newmont-mining/bg--large.jpg") center bottom;
  }
  */
    .dally-dally {
      box-shadow: 0px 0px 30px 1px rgba(0, 0, 0, 0.5);
    }
  }
  div.home li.newmont-mining {
    overflow: hidden;
    img {
      margin-left: 0px;
      -webkit-transition: margin 3s ease;
      -moz-transition: margin 3s ease;
      -o-transition: margin 3s ease;
      -ms-transition: margin 3s ease;
      transition: margin 3s ease;
    }
    img:hover {
      margin-right: -300px;
    }
  }
}
