@media @mobile {
  .old-chicago {
    background-image: url("/assets/images/old-chicago/bg--tile.png");
    background-size: 150px 180px;
    h1 {
      display: none;
    }
    a {
      color: #bf1e2d;
    }
    .my-title {
      color: #38566d;
    }
    .logo {
      picture {
        img {
          width: 50%;
        }
      }
    }
  }
}
@media @mobile-landscape {
  .boston-market {
  }
}
@media @tablet {
}
@media @tablet-landscape {
  .boston-market {
  }
}
@media @laptop {
}
@media @desktop {
  .boston-market {
  }
}
@media @desktop-lg {
}
