@media @mobile {
  .orlando-magic {
    h1 {
      color: #007bc5;
    }
    .subtitle {
      display: none;
    }
    background: url("/assets/images/orlando-magic/bg--default.jpg") repeat center top;
    .logo {
      picture {
        img {
          width: 50%;
        }
      }
    }
  }
}
@media @mobile-landscape {
  .orlando-magic {
    background: url("/assets/images/orlando-magic/bg--medium.jpg");
  }
}
@media @tablet {
}
@media @tablet-landscape {
  .orlando-magic {
    background: url("/assets/images/orlando-magic/bg--large.jpg");
  }
}
@media @laptop {
}
@media @desktop {
}
@media @desktop-lg {
}
