// min-width: 320px) smartphones, portrait iPhone, portrait 480x320 phones (Android)
@media @mobile {
  .orlando-magic {
    h1 {
      color: #007bc5;
    }
    .subtitle {
      display: none;
    }
    background: url("/assets/images/orlando-magic/bg--default.jpg") repeat center top;
    .logo {
      picture {
        img {
          width: 50%;
        }
      }
    }
  }
}
// min-width:480px) smartphones, Android phones, landscape iPhone
@media @mobile-landscape {
  .orlando-magic {
    background: url("/assets/images/orlando-magic/bg--medium.jpg");
  }
}
// min-width: 600px tablet portrait
@media @tablet {
}
// min-width: 801px) tablet, landscape iPad, lo-res laptops ands desktops
@media @tablet-landscape {
  .orlando-magic {
    background: url("/assets/images/orlando-magic/bg--large.jpg");
  }
}
// min-width: 1025px) big landscape tablets, laptops, and desktops
@media @laptop {
}
// min-width: 1200px) big landscape tablets, laptops, and desktops
@media @desktop {
}
// min-width: 2300px) TV
@media @desktop-lg {
}
