        @media @mobile {
    li {
        &.red-robin {
            h1,
            .highlights {
                display: none
            }
            .dally-dally {
                background-color: #A21413;
                box-shadow: 0px 0px 30px 1px rgba(0, 0, 0, 0.5)
			}
		}
	}
}