@media @mobile {
  .severn-trent-services {
    color: #000;
    h1,
    .highlights {
      display: none;
    }
    .logo {
      picture {
        img {
          width: 50%;
        }
      }
    }
    background: url("/assets/images/severn-trent-services/bg--small.jpg") center bottom no-repeat;
  }
}
@media @mobile-landscape {
}
@media @tablet {
}
@media @tablet-landscape {
}
@media @laptop {
}
@media @desktop {
}
@media @desktop-lg {
}
@media @tablet {
  .severn-trent-services {
    background: url("/assets/images/severn-trent-services/bg--medium.jpg") center bottom no-repeat;
  }
}
@media @laptop {
  .severn-trent-services {
    background: url("/assets/images/severn-trent-services/bg--large.jpg") center bottom no-repeat;
  }
}
