@media @mobile {
  .severn-trent-services {
    color: #000;
    h1,
    .highlights {
      display: none;
    }
    background: url("/assets/images/severn-trent-services/bg--small.jpg") center bottom no-repeat;
  }
}
@media @mobile-landscape {
  .severn-trent-services {
  }
}
@media @tablet {
}
@media @tablet-landscape {
  .severn-trent-services {
  }
}
@media @laptop {
}
@media @desktop {
  .severn-trent-services {
  }
}
@media @desktop-lg {
}

@media @tablet {
  .severn-trent-services {
    background: url("/assets/images/severn-trent-services/bg--medium.jpg") center bottom no-repeat;
  }
}

@media @laptop {
  .severn-trent-services {
    background: url("/assets/images/severn-trent-services/bg--large.jpg") center bottom no-repeat;
  }
}
/*
  @mixin atMedium {
    background: url("/assets/images/severn-trent-services/bg--medium.jpg") center bottom no-repeat;
  }
  @mixin atLarge {
    
  }
 
<picture>
            <source sizes="540px" srcSet="../assets/images/severn-trent-services/hero--large.jpg 540w" media="(min-width: 1200px)" />
            <source sizes="470px" srcSet="../assets/images/severn-trent-services/hero--medium.jpg 470w" media="(min-width: 1024px)" />
            <source sizes="360px" srcSet="../assets/images/severn-trent-services/hero--small.jpg 360w" media="(min-width: 800px)" />
            <img srcSet="../assets/images/severn-trent-services/hero--default.jpg 320w" alt="" />
          </picture>
*/
