@media @mobile {
  .trip {
    background-color: #10232a url("..//assets/images/trip/bg--default.jpg") center top no-repeat;
    h1 {
      color: #ed0f7c;
    }
    .subtitle {
      color: #fff;
    }
    .subtitle a {
      color: #ed0f7c;
    }
    .my-title {
      color: #ed0f7c;
    }
    .description {
      color: #fff;
    }
    .highlights {
      color: #fff;
    }
    .logo {
      picture {
        img {
          width: 50%;
        }
      }
    }
    .box-2 {
      //background-image: url("/assets/images/trip/hero--default.jpg");
      background-size: cover;
    }
  }
}
@media @mobile-landscape {
  .trip {
  }
}
@media @tablet {
}
@media @tablet-landscape {
  .trip {
  }
}
@media @laptop {
}
@media @desktop {
  .trip {
  }
}
@media @desktop-lg {
}

/* {
    background: #10232a url("/assets/images/trip/bg--small.jpg") center bottom no-repeat;
  }
  @mixin atMedium {
    background: #10232a url("/assets/images/trip/bg--medium.jpg") center bottom no-repeat;
  }
  @mixin atLarge {
    background: #10232a url("/assets/images/trip/bg--large.jpg") center bottom no-repeat;
  }
    }

<picture>
            <source sizes="540px" srcSet="../assets/images/trip/hero-01--large.jpg 540w" media="(min-width: 1200px)" />
            <source sizes="470px" srcSet="../assets/images/trip/hero-01--medium.jpg 470w" media="(min-width: 1024px)" />
            <source sizes="360px" srcSet="../assets/images/trip/hero-01--small.jpg 360w" media="(min-width: 800px)" />
            <img srcSet="../assets/images/trip/hero-01--default.jpg 320w" alt="trip" />
          </picture>
*/
